
.App {
  /* text-align: center; */
}


.grayBG {
  background-color: #EEE;
}

.heading {
  text-align: center;
  font-size: 3rem;
  font-family: 'Reem Kufi', sans-serif;
}

.image-circle {
  border-radius: 50%;
  border: 1px solid teal;
  width: 600px;
  height: 600px;
}

.name {
  text-align: center;
  font-family: 'Reem Kufi', sans-serif;
  font-size: 4rem;
}

.font_size_small{
  font-size: 18px;
}

.font_size_medium{
  font-size: 22px;
}

.right-padded {
  padding: 1% 15% 0% 0%;
  margin-top: 1%;

}

* {
  font-family: 'Abel', sans-serif;
  font-size: 1.5rem;
}
