.App {
  text-align: center;
}


.name {
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Reem Kufi', sans-serif;
  float: left;
  clear: both;
  margin-left: 12%;
}

* {
  font-family: 'Abel', sans-serif;
  font-size: 1.5rem;
}